body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(image/feature-1.png);
    background-size: cover;
    animation: gradientAnimation 10s ease infinite;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradientAnimation {
    0% {background-position: 0% 50%}
    50% {background-position: 100%  50%}
    100% {background-position: 0 30%}

}


.frosty-form {
    position: relative;
    width: 350px;
    padding: 30px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    animation: fade in 2s ease-out;
    backdrop-filter: blur (30px);
    box-shadow:  0 4px 15px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

@keyframes fadein {
    0% {opacity: 0; transform: scale(0.9s);}
    100% { opacity: 1; transform: scale(1);}

}

.frosty-form h2{
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}

.frosty-form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px ;
    background: rgba(255, 255, 255, 0.8);
    color: #333333;
}

.frosty-form{
    color: #333333;
}



.frosty-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: radial-gradient(red, yellow, cyan);
    color: white;
    cursor: pointer;
    font-size: 16px;
}


















